USE [KGIDB]
GO
/****** Object:  Table [dbo].[Warrant_Master]    Script Date: 2026/9/22 上午 09:43:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Warrant_Master](
	[Warrant_ID] [varchar](10) NOT NULL,
	[Strike_Price] [decimal](18, 4) NOT NULL,
	[Conversion_Ratio] [decimal](18, 4) NOT NULL,
	[Warrant_Type] [varchar](4) NOT NULL,
	[Position_Qty] [int] NOT NULL,
 CONSTRAINT [PK_Warrant_Master] PRIMARY KEY CLUSTERED 
(
	[Warrant_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Warrant_Master] ([Warrant_ID], [Strike_Price], [Conversion_Ratio], [Warrant_Type], [Position_Qty]) VALUES (N'W0000001', CAST(80.0000 AS Decimal(18, 4)), CAST(0.1000 AS Decimal(18, 4)), N'CALL', 100)
INSERT [dbo].[Warrant_Master] ([Warrant_ID], [Strike_Price], [Conversion_Ratio], [Warrant_Type], [Position_Qty]) VALUES (N'W0000002', CAST(80.5000 AS Decimal(18, 4)), CAST(0.2000 AS Decimal(18, 4)), N'PUT', 200)
INSERT [dbo].[Warrant_Master] ([Warrant_ID], [Strike_Price], [Conversion_Ratio], [Warrant_Type], [Position_Qty]) VALUES (N'W0000003', CAST(81.0000 AS Decimal(18, 4)), CAST(0.3000 AS Decimal(18, 4)), N'CALL', 300)
GO
